<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f5f5f5;
            overflow: hidden;
        }

        .confirmation-message {
            position: relative;
            background-color: #fff;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(47, 255, 0, 0.2);
            transform: scale(0.8);
            animation: popUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        }

        .confirmation-content {
            text-align: center;
        }

        h2 {
            color: #008000;
            margin-bottom: 20px;
            font-size: 28px;
        }

        p {
            font-size: 18px;
        }

        button {
            background-color: #464545;
            color: #fff;
            padding: 15px 30px;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #33892f;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 24px;
            color: #999;
        }

        .close-button:hover {
            color: #666;
        }

        @keyframes popUp {
            0% {
                opacity: 0;
                transform: scale(0.8);
            }
            80% {
                opacity: 1;
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
    </style>
</head>
<body>

<div class="confirmation-message">
    <span class="close-button" onclick="window.location.href = '/'">X</span>
    <div class="confirmation-content">
        <h2>Order Placed!</h2>
        <p>Your order has been successfully placed.</p>
        <a href="/orderhistory">
        <button id="goToOrdersBtn">Go to Orders</button>
         </a>
    </div>
</div>

</body>
</html>
